body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

#container{
width:1500px;
height:1000px;
color:dimgray;
display:flex;
flex-direction: column;
text-align: center;
font-size: 40px;
font-family: cursive;
}