body{
    width:100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

#container{

color:dimgray;
display:flex;
flex-direction: column;
text-align: center;
font-size: 40px;
font-family: cursive;
}